<div class="first-screen">
    <div class="center">
        <h1 class="name"><%= theme.first_screen.name %></h1>
        <h2 class="description"><%= theme.first_screen.description %></h2>
        <div class="links">
            <% for (var key in theme.first_screen.links) { %>
                <a href="<%= theme.first_screen.links[key] %>"><%= key %></a>
            <% } %>
        </div>
        <button class="entry-btn">
            BLOG
        </button>
    </div>

    <canvas class="triangle-canvas"></canvas>
</div>