<footer class="footer">
    <div class="copyright">
        <i class="fa fa-copyright"></i>&nbsp;<%= theme.copyright.time %>&nbsp;&nbsp;<i class="fa fa-heart"></i>&nbsp;&nbsp;<%= theme.copyright.name %>
    </div>
    <div class="info">
        Powered by <a href="https://hexo.io/">Hexo</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Theme - <a href="https://github.com/codpoe/hexo-theme-poem/">Poem</a>
    </div>
</footer>