<meta charset="UTF-8">
<title>
    <% if (page.title) { %>
        <%= page.title%>
    <% } else if (config.title) { %>
        <%= config.title %>
    <% } else { %>
        Codpoe's blog
    <% } %>
</title>
<meta name="author" content="Codpoe">
<meta name="description" content="An elegant blog about technology and life">
<meta name="keywords" content="blog, technology, frontend, elegant">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

