<div class="prev-next">
<% if (page.prev) { %>
    <a class="prev" href="<%- url_for(page.prev.path) %>"><%= __('newer') %></a>
<% } %>
<% if (page.next) { %>
    <a class="next" href="<%- url_for(page.next.path) %>"><%= __('older') %></a>
<% } %>
</div>

