@import './common.css';

.wrapper {
    margin-top: 0;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.2, 0.3, 0.8, 1);
}

.wrapper--show {
    transform: translateY(0);
    opacity: 1;
    animation: none;
}

.year-wrapper {
    margin: 40px 0 20px 0;
    font-size: 0;
}

.year-wrapper:first-child {
    margin: 120px 0 20px 0;
}

.year {
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: 8px;
    cursor: default;
    &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: -14px;
        width: 3px;
        height: 16px;
        background: var(--primary-color);
    }
}

.amount {
    font-size: 14px;
    font-weight: normal;
    color: var(--second-text-color);
    cursor: default;
}

.archive-posts {
    max-width: 660px;
    margin: 0 auto 60px auto;
    list-style: none;
}

.archive-post-wrapper {
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    .post-date {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -7px;
        font-size: 14px;
        color: var(--third-text-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: default;
    }
    .post-title {
        margin-left: 200px;
    }
    a {
        font-size: 18px;
        font-weight: normal;
        color: var(--second-text-color);
        letter-spacing: 2px;
        transition: all 0.2s;
        line-height: 1.6;
        &:hover {
            color: var(--primary-color);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .year-wrapper {
        margin-top: 0;
    }
    .year-wrapper:first-child {
        margin-top: 120px;
    }
    .archive-post-wrapper {
        padding: 20px 0;
        .post-date {
            position: static;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .post-title {
            margin-left: 0;
        }
        a {
            font-size: 16px;
        }
    }
}

