@import './common.css';

.header-wrapper {
    transform: translateY(78.5px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.2, 0.3, 0.8, 1);
}

.wrapper--show {
    transform: translateY(0);
    opacity: 1;
    animation: none;
}

.year-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 20px 30px;
    text-align: center;
}

.year-wrapper:first-child {
    margin: 130px 30px 20px 30px;
}

.year {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: 8px;
    cursor: default;
    &::before {
        content: '#';
        position: absolute;
        top: 1px;
        left: -1em;
        font-size: 24px;
        color: var(--primary-color);
    }
}

.amount {
    font-size: 14px;
    font-weight: normal;
    color: var(--second-text-color);
    text-align: center;
    cursor: default;
}

.archive-posts {
    max-width: 660px;
    margin: 0 auto 60px auto;
    padding: 0 30px;
    list-style: none;
}

.archive-post-wrapper {
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    .post-date {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -7px;
        font-weight: lighter;
        font-family: menlo, PingFangSC-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: var(--third-text-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: default;
    }
    .post-title {
        margin-left: 200px;
    }
    a {
        font-size: 18px;
        font-weight: normal;
        color: var(--second-text-color);
        letter-spacing: 2px;
        transition: all 0.2s;
        line-height: 1.6;
        &:hover {
            color: var(--primary-color);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .year-wrapper {
        margin-top: 0;
    }
    .year-wrapper:first-child {
        margin-top: 100px;
    }
    .archive-posts {
        padding: 0 15px;
    }
    .archive-post-wrapper {
        padding: 16px 0;
        .post-date {
            position: static;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .post-title {
            margin-left: 0;
        }
        a {
            font-size: 16px;
        }
    }
}

