@import './common.css';

.footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1px 1px #e6e6e6;
    font-size: 14px;
    color: var(--third-text-color);
    .copyright {
        margin-bottom: 14px;
    }
    a {
        color: var(--third-text-color);
    }
    a:hover {
        color: var(--primary-color);
    }
}