@import './common.css';

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    background: rgba(255,255,255,0);
    transition: all 0.4s ease;
    z-index: 999;
}

.header-wrapper--normal {
    .header .right .normal-menu,
    .header .right .category,
    .header .right .menu--active {
        color: var(--third-text-color);
    }
    .haeder .right .menu--active {
        color: var(--text-color)
    }
}

.header-wrapper--shrink {
    height: 58px;
    background: rgba(255,255,255,1);
    box-shadow: 0 1px 2px #f28291;
    .header .left .links .fa {
        color: var(--third-text-color);
    }
    .header .right .normal-menu {
        padding-bottom: 0;
    }
    .header .right .normal-menu,
    .header .right .category {
        color: var(--third-text-color);
    }
}

.header {
    position: relative;
    max-width: 990px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    perspective: 400px;
    .logo {
        display: inline-block;
        margin-right: 24px;
        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            user-select: none;
        }
    }
}

.header .left .links {
    list-style-type: none;
    display: inline-block;
    li {
        display: inline-block;
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        transition: all 0.2s;
        &:hover {
            .fa {
                color: var(--primary-color);
            }
        }
    }
    .fa {
        font-size: 16px;
        color: rgba(255,255,255,0.8);
        transition: color 0.2s ease;
    }
}

.header .right {
    list-style: none;
    display: inline-block;
    >li {
        float: left;
    }
    >li:nth-child(n+2) {
        margin-left: 24px;
    }
    .normal-menu,
    .category {
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 1.4;
        color: white;
        text-transform: uppercase;
        transition: color 0.2s ease;
    }
    .category {
        position: relative;
        cursor: default;
    }
    .normal-menu:hover {
        text-decoration: none;
        border-bottom: 2px solid var(--primary-color);
    }
    .category:hover {
        .category-list {
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
        }
    }
    .menu--active {
        font-weight: 700;
        color: white;
        border-bottom: 2px solid var(--primary-color);
        transition: padding-bottom 0.4s;
    }
}

.header .menu-bar {
    display: none;
    font-size: 18px;
    color: var(--third-text-color);
    cursor: pointer;
}

.header .category-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    list-style-type: none;
    visibility: hidden;
    transform: translateY(-10px);
    transform-origin: center top;
    opacity: 0;
    transition: all 0.2s;
    .category-list-item {
        position: relative;
    }
    .category-list-link {
        display: block;
        position: relative;
        padding: 6px 55px 6px 25px;
        font-size: 12px;
        color: var(--third-text-color);
        transition: background 0.2s;
        &:hover {
            text-decoration: none;
            background: rgba(229, 233, 239, 0.74);
        }
    }
    .category-list-link:before {
        content: '#';
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 12px;
        color: var(--primary-color);
    }
    .category-list-count {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 12px;
        color: var(--third-text-color);
    }
}

.header-wrapper .mobile-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 78.5px 45px 0 45px;
    background: rgba(255,255,255,.9);
    list-style-type: none;
    transition: all 0.3s;
    li {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        transform: translateX(-200px);
        transition: all 0.3s;
    }
    a {
        display: block;
        font-size: 16px;
        line-height: 50px;
        text-transform: uppercase;
        color: var(--primary-color);
    }
}

.header-wrapper--shrink .mobile-menu {
    padding-top: 58.5px;
}

.header-wrapper .mobile-menu--show {
    visibility: visible;
    opacity: 1;
    li {
        transform: translateX(0);
    }
}

@media screen and (max-width: 767px) {
    .header {
        .right {
            display: none;
        }
        .menu-bar {
            display: inline;
        }
    }
}

