@import './common.css';

.header-info {
    max-width: 800px;
    margin: 110px auto 0 auto;
    padding: 0 20px;
    transition: all 0.2s ease;
    .header__desc {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
        color: var(--normal-text-color);
    }
    .header__links {
        margin-top: 40px;
    }
    .header__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        float: left;
        position: relative;
        min-width: 28px;
        height: 28px;
        margin-right: 12px;
        border-radius: 50%;
        background: #eaeaea;
        font-size: 14px;
        color: var(--third-text-color);
        transition: all 0.2s ease;
        &:hover {
            text-decoration: none;
            background: var(--primary-color);
            color: white;
            .header__link-extend {
                visibility: visible;
                opacity: 1;
                transform: translate(-50%, 0);
            }
        }
    }
    .header__link-extend {
        position: absolute;
        top: 100%;
        left: 50%;
        padding: 4px;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
        background: white;
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, -10px);
        transition: all 0.2s ease;
        z-index: 99;
        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            width: 0;
            height: 0;
            border-bottom: 4px solid white;
            border-left:  2px solid transparent;
            border-right:  2px solid transparent;
        }
        img {
            width: 100px;
            height: 100px;
        }
    }
}