.header-wrapper {
    width: 100%;
    height: 78.5px;
    position: fixed;
    top: 0;
    background: white;
    z-index: 999;
    transform: translateY(-100px);
    font-family: menlo, PingFangSC-Regular, Helvetica, Arial, sans-serif;
    transition: all 0.4s, transform 0.3s 0.6s;
}

.header-wrapper--show {
    transform: translateY(0px);
}

.header-wrapper--visible {
    transition: none;
    transform: translateY(0px);
}

.header-wrapper--shrink {
    height: 58.5px;
    background: white;
    box-shadow: 0 0 26px rgba(7, 51, 84, 0.14);
    .header .right .normal-menu,
    .right .menu--active {
        padding-bottom: 0;
    }
}

.header {
    position: relative;
    max-width: 990px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .logo {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            border-radius: 50%;
        }
        .links {
            list-style: none;
            display: inline-block;
            li {
                float: left;
                margin-left: 12px;
            }
            a {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                text-decoration: none;
                transition: background 0.2s;
                &:hover {
                    background: var(--primary-color);
                    .fa {
                        color: white;
                    }
                }
            }
            .fa {
                font-size: 18px;
                color: var(--third-text-color);
                transition: color 0.2s;
            }
        }
    }
    .right {
        list-style: none;
        display: inline-block;
        >li {
            float: left;
        }
        >li:nth-child(n+2) {
            margin-left: 24px;
        }
        .normal-menu,
        .category {
            padding-bottom: 8px;
            font-size: 14px;
            line-height: 1.4;
            color: var(--third-text-color);
            text-transform: uppercase;
            transition: padding-bottom 0.4s;
        }
        .category {
            position: relative;
            cursor: default;
        }
        .normal-menu:hover {
            text-decoration: none;
            border-bottom: 2px solid var(--primary-color);
        }
        .category:hover {
            .category-list {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;
            }
        }
        .menu--active {
            font-weight: 700;
            color: var(--text-color);
            border-bottom: 2px solid var(--primary-color);
            transition: padding-bottom 0.4s;
        }
    }
    .menu-bar {
        display: none;
        font-size: 18px;
        color: var(--third-text-color);
        cursor: pointer;
    }
}

.header .category-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(255,255,255,.9);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    list-style-type: none;
    visibility: hidden;
    transform: translateY(-10px);
    transform-origin: center top;
    opacity: 0;
    transition: all 0.2s;
    .category-list-item {
        position: relative;
    }
    .category-list-link {
        display: block;
        position: relative;
        padding: 6px 55px 6px 25px;
        font-size: 12px;
        color: var(--third-text-color);
        transition: background 0.2s;
        &:hover {
            text-decoration: none;
            background: #E5E9EF;
        }
    }
    .category-list-link:before {
        content: '#';
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 12px;
        color: var(--primary-color);
    }
    .category-list-count {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 12px;
        color: var(--third-text-color);
    }
}

.header-wrapper .mobile-menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(100px);
    padding: 0 45px;
    background: rgba(255,255,255,.9);
    opacity: 0;
    list-style-type: none;
    transition: opacity 0.2s, transform 0.4s;
    li {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    a {
        display: block;
        font-size: 14px;
        line-height: 50px;
        color: var(--third-text-color);
    }
}

.header-wrapper--shrink .mobile-menu {
    transform: translateY(50px);
}

.header-wrapper .mobile-menu--show {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .header {
        .right {
            display: none;
        }
        .menu-bar {
            display: inline;
        }
    }
}

