@import './common.css';

.wrapper {
    margin-top: 0;
    transform: translateY(0);
    opacity: 1;
}

.post:first-child {
    margin-top: 140px;
}

.markdown-body {
    color: var(--second-text-color);
}

.comments {
    margin: 45px 0;
    padding: 0 45px;
}

@media (max-width: 767px) {
    .comments {
        padding: 0 15px;
    }
}

