@import './common.css';

.prev-next {
    margin: 45px 0;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
        clear: both;
    }
    .prev,
    .next {
        position: relative;
        border-radius: 2px;
        border: 1px solid #e6e6e6;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 700;
        color: var(--third-text-color);
        transition: all 0.3s ease;
        &:hover {
            border-color: var(--primary-color);
            color: var(--primary-color);
            text-decoration: none;
        }
    }
    .prev {
        float: left;
        padding: 8px 8px 8px 26px;
        &::before {
            content: '←';
            font-size: 14px;
            color: var(--third-text-color);
            position: absolute;
            top: 8px;
            left: 8px;
            transition: all 0.3s ease;
        }
        &:hover {
            &::before {
                color: var(--primary-color);
            }
        }
    }
    .next {
        float: right;
        padding: 8px 26px 8px 8px;
        &::after {
            content: '→';
            font-size: 14px;
            color: var(--third-text-color);
            position: absolute;
            top: 8px;
            right: 8px;
            transition: all 0.3s ease;
        }
        &:hover {
            &::after {
                color: var(--primary-color);
            }
        }
    }
}

