@import './common.css';

.toc-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    margin-left: -240px;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
}

.toc-wrapper:hover {
    transform: translateX(240px);
    .toc-link {
        height: 50px;
        line-height: 50px;
        &:hover {
            background: var(--primary-color);
            color: white;
            text-decoration: none;
            &::before {
                background: var(--primary-color);
            }
        }
    }
    .toc-link::before {
        transform: translateX(-300px);
        visibility: hidden;
        opacity: 0;
    }
}

.toc {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    max-height: 100%;
    list-style-type: none;
}

.toc-child {
    list-style-type: none;
}

.toc-link {
    position: relative;
    display: block;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: var(--third-text-color);
    transition: height 0.24s, background 0.1s;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -1px;
        height: 2px;
        border-radius: 1px;
        background: #ccc;
        visibility: visible;
        opacity: 1;
        transition: all 0.4s ease-in-out;
        transition-delay: 0.2s;
    }
}

.toc-level-1 .toc-link::before {
    width: 3em;
}

.toc-level-2 .toc-link::before {
    width: 2.4em;
}

.toc-level-3 .toc-link::before {
    width: 1.8em;
}

.toc-level-4 .toc-link::before {
    width: 1.2em;
}

.toc-link--active {
    color: var(--primary-color);
    font-weight: 700;
    &::before {
        background: var(--primary-color);
    }
}

.toc-text {
    display: block;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 20px;
}

.toc-child .toc-text {
    padding-left: calc(20px + 1em);
}

.toc-child .toc-child .toc-text {
    padding-left: calc(20px + 2em);
}

.toc-child .toc-child .toc-child .toc-text {
    padding-left: calc(20px + 3em);
}

@media screen and (max-width: 1000px){
    .toc-wrapper {
        display: none;
    }
}

